.top-menu{
    display: flex;
    flex:1 1;
    align-items: center;
    &__list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        display: flex;
        padding: 0 5px 0 5px ;
        font-family: $accentfront;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        align-items: center;
    }
}

